<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale = 1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <meta name="description" content="..." />
   
  </head>
  <body>
    <p>
    Your group member {{username}} has made a submission for the following coursework
    <br>
    <br>
    <b>Coursework Title</b>: {{title}}
    <br>
    <br>
    <b>Submission_ID</b>: {{submission_id}}
    <br>
    <br>
    Please approve or reject the submission in your profile page.
    
     
      
    </p>
  </body>
</html>
