<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale = 1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <meta name="description" content="..." />
   
  </head>
  <body>
    <p>
      
      Dear, {{username}}
      <br>
      <br>
      Your Coursework has been submitted succesfully
      <br>
      <br>
      <b>Coursework Title</b>: {{title}}
      <br>
      <br>
      <b>Submission_ID</b>: {{submission_id}}
    </p>
  </body>
</html>
